.App {
  text-align: center;
}


.img-fluid {
	padding-right: 100px;

}
 h2{
    letter-spacing: 10px;
    font-weight: bold;
   
    
    font-stretch: expanded;
}
h5 {
   text-decoration: underline;
}
.text2{
 
    letter-spacing: 2px;
    font-weight: bold;
    font-style: italic;
    font-family: Snell Roundhand, cursive;
    font-stretch: expanded;	
    padding-top: 5px;
    padding-left: 10px;

}
 .text1 {
 color: black;


}
	
.text2 p{
  font-size: 2vw;
}